.schedules {
  &__title {
    font-family: Playfair Display;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 0;
  }

  &__info {
    margin-top: 10px;
  }
}
